<!-- show posts data -->
<div class="panel panel-default" ng-if="user.signedIn">
  <div class="panel-heading">Edit post: {{postEdit.post.id}}</div>
    <div class="panel-body">
      <!-- sign in form -->
      <div class="alert alert-success" ng-if="postEdit.successfullSave">
          <strong>Success!</strong> Post updated.
        </div>
      <div class="alert alert-danger" ng-if="postEdit.postErrors">
          <strong>Failed!</strong> Please check form for errors.
        </div>
      <form role="form" ng-if="user.signedIn">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" ng-model="postEdit.post.title" placeholder="Title">
          <p class='error alert-danger'>{{postEdit.postErrors.title[0]}}</p>
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea class="form-control" ng-model="postEdit.post.body"></textarea>
          <p class='error alert-danger'>{{postEdit.postErrors.body[0]}}</p>
        </div>
        <button type="submit" class="btn btn-default" ng-click="postEdit.savePost();">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="panel panel-default" ng-if="user.signedIn">
  <div class="panel-heading">Edit Post notes</div>
    <div class="panel-body">
      <form role="form" ng-if="user.signedIn" class="notes_form">
        <div ng-repeat="note in postEdit.post.notes track by $index">
          <div class="note_template">
            <div class="form-group col-lg-8">
              <label for="title">Text</label>
              <input type="text" class="form-control" name='text' id="title" ng-model="postEdit.post.notes[$index].text" placeholder="Text">
            </div>
            <div class="form-group col-lg-4">
              <label for="delete">Delete</label>
              <input type="checkbox" class="form-control" name='delete' id="title" ng-model="postEdit.post.notes[$index]._destroy" ng-value="{{note.id}}"placeholder="Text">
            </div>
          </div>
        </div>
        <div class="new_notes_wraper"></div>

        <button type="submit" class="btn btn-primary" ng-click="postEdit.addNote()">Add Note</button>
        <button type="submit" class="btn btn-default" ng-click="postEdit.savePost();">Submit</button>
      </form>
    </div>
  </div>
</div>
